html{
    height: 100%;
}

*{
    margin: 0px;
    padding: opx;
    box-sizing: border-box;
}
body{
    /*background-color: rgb(46, 41, 39);*/
    background-image: url(wellpap.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
     
}

nav{
    margin-top: 10px;
    color: white;
    display: flex;
    justify-content: space-around ;
    align-items: center ;
    width: 1024px;
    height: 50px;
    background-color:rgba(0, 0, 0, 0.404);
    
}
main{
 
    height: 400px;
    width: 1024px;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px
}
/*
footer{
    background-color: rgba(255, 255, 255, 0.466);
    height: 100px;
    
}
*/
.Container{
     margin-left: auto ;
     margin-right: auto;
     width: 1024px;
     height: 100%;
    
}   
h1{
    margin-top: 10px;
    font-size:  60px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
 
} 
p{
    margin-top: 15px;
    font-size:  18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 15px ;
    padding-left: 15px;
}
#footer{
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
    color: white;
    display: flex;
    justify-content: space-around ;
    align-items: center ;
    width: 1024px;
    height: 50px;
    background-color:rgba(0, 0, 0, 0.705);
    margin-bottom: 7px;
}

#weather{
    margin-top: 10px;

}